{% extends 'base.html' %}

{% block content %}
<style>
    /* Global CSS reset */
    * {
        margin: 0;
        padding: 0;
    }

    body, html {
        margin: 0;
        padding: 0;
    }

    /* Styles for message list and alert message */
    .alert.fade-out {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .messages {
        padding: 15px;
        margin-bottom: 20px;
        list-style: none;
    }

    .message {
        padding: 10px 15px;
        border-radius: 4px;
        font-size: 16px;
    }

    .message-success {
        background-color: #dff0d8;
        color: #468847;
        border: 1px solid #d6e9c6;
    }

    .message-error {
        background-color: #f2dede;
        color: #a94442;
        border: 1px solid #eed3d7;
    }

    .message-info {
        background-color: #d9edf7;
        color: #3a87ad;
        border: 1px solid #bcc7d1;
    }

    .alert {
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 4px;
        font-size: 16px;
        font-weight: bold;
    }

    .alert-success {
        background-color: #dff0d8;
        color: #468847;
        border-color: #d6e9c6;
    }

    .alert-heading {
        margin-top: 0;
    }

    .mb-0 {
        margin-bottom: 0;
    }

    .banner {
        position: relative;
        background-image: url('/images/background.png'); /* Adjust path as per your static files setup */
        background-size: cover;
        background-position: center;
        padding: 50px 20px;
        text-align: center;
        color: white;
    }

    .banner h2 {
        margin: 0;
        font-size: 36px;
    }

    .filter-tabs-container {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .filter-tabs {
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #ccc;
        margin-bottom: 20px;
    }

    .filter-tabs button {
        background-color: transparent;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        color: #333;
        border-bottom: 3px solid transparent;
        transition: color 0.3s, border-bottom 0.3s;
    }

    .filter-tabs button.active {
        color: #0056b3;
        border-bottom: 3px solid #0056b3;
    }

    .province-list {
        display: none;
        flex-wrap: wrap;
        margin-top: 10px;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .province-list a {
        margin-right: 15px;
        color: #0056b3;
        text-decoration: none;
    }

    .province-list a:hover {
        text-decoration: underline;
    }

    .propuestas-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .propuesta-item {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        border: 1px solid #ccc;
        border-radius: 9px;
        margin: 20px;
        width: 300px;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

   
    .propuesta-item.visible {
        opacity: 1;
    }


    .propuesta-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-bottom: 10px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        

    }

    .propuesta-title {
        font-size: 18px;
        margin-bottom: 10px;
        font-family: 'Lora', serif;
        font-weight: bold;
    }

    .propuesta-description {
        font-size: 14px;
        margin-bottom: 10px;
    }


    .propuesta-province {
        font-size: 14px;
        color: #777;
    }
    

    .title-container {
        margin-left: 20px;
    }

    .primary {
        color: #41B8D5;
        background-color: #cce5ff;
        border: 3px solid #b8daff;
    }

    .province-list a {
        text-decoration: none;
    }

    .propuesta-title a {
        text-decoration: none;
        color: inherit; /* Use the original text color */
    }

    .propuesta-image {
    transition: background-color 0.3s ease, opacity 0.3s ease;
    }

    .propuesta-image:hover {
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0.7;
    }

    .hover-color:hover {
            color: #AAAAAA;
            transition: color 0.3s ease, opacity 0.3s ease;
        }
</style>

<div class="banner">
    <h2>Propuestas Buscando Inversiones</h2>
</div>

<div class="filter-tabs-container">
    <div class="filter-tabs">
        <button id="todos-btn" class="tab-btn hover-color">TODOS</button>
        <button id="provincias-btn" class="tab-btn hover-color">PROVINCIAS</button>
    </div>
</div>

<div id="todos-content" style="text-align: center;">
    <p>TODAS LAS PROPUESTAS</p>
</div>

<div id="provincias-content" class="province-list">
    <a href="?provincia=Buenos%20Aires" class="hover-color">Buenos Aires</a> |
    <a href="?provincia=Ciudad%20Autónoma%20de%20Buenos%20Aires" class="hover-color">Ciudad Autónoma de Buenos Aires</a> |
    <a href="?provincia=Catamarca" class="hover-color">Catamarca</a> |
    <a href="?provincia=Chaco" class="hover-color">Chaco</a> |
    <a href="?provincia=Chubut" class="hover-color">Chubut</a> |
    <a href="?provincia=Córdoba" class="hover-color">Córdoba</a> |
    <a href="?provincia=Corrientes" class="hover-color">Corrientes</a> |
    <a href="?provincia=Entre%20Ríos" class="hover-color">Entre Ríos</a> |
    <a href="?provincia=Formosa" class="hover-color">Formosa</a> |
    <a href="?provincia=Jujuy" class="hover-color">Jujuy</a> |
    <a href="?provincia=La%20Pampa" class="hover-color">La Pampa</a> |
    <a href="?provincia=La%20Rioja" class="hover-color">La Rioja</a> |
    <a href="?provincia=Mendoza" class="hover-color">Mendoza</a> |
    <a href="?provincia=Misiones" class="hover-color">Misiones</a> |
    <a href="?provincia=Neuquén" class="hover-color">Neuquén</a> |
    <a href="?provincia=Río%20Negro" class="hover-color">Río Negro</a> |
    <a href="?provincia=Salta" class="hover-color">Salta</a> |
    <a href="?provincia=San%20Juan" class="hover-color">San Juan</a> |
    <a href="?provincia=San%20Luis" class="hover-color">San Luis</a> |
    <a href="?provincia=Santa%20Cruz" class="hover-color">Santa Cruz</a> |
    <a href="?provincia=Santa%20Fe" class="hover-color">Santa Fe</a> |
    <a href="?provincia=Santiago%20del%20Estero" class="hover-color">Santiago del Estero</a> |
    <a href="?provincia=Tierra%20del%20Fuego" class="hover-color">Tierra del Fuego</a> |
    <a href="?provincia=Tucumán" class="hover-color">Tucumán</a>
</div>

<div id="propuestas-content" class="propuestas-container">
    {% for propuesta in propuestas %}
        <div class="propuesta-item visible">
            {% if propuesta.FOTO_DE_PERFIL_DEL_PROYECTO %}
            <a href="{% url 'propuesta_detail' propuesta.pk %}"><img src="{{ propuesta.FOTO_DE_PERFIL_DEL_PROYECTO.url }}" alt="Profile Picture" class="propuesta-image"></a>
            {% else %}
                <p>No image available</p>
            {% endif %}
            <a href="{% url 'propuesta_detail' propuesta.pk %}" class="propuesta-title hover-color" style="text-decoration: none;">{{ propuesta.TITULO }}</a>
            <p class="propuesta-description">{{ propuesta.IDEA|truncatechars:100 }}</p>
            <p class="propuesta-province">{{ propuesta.PROVINCIA }}</p>
            <p class="propuesta-votes">Votos positivos: {{ propuesta.votos_positivos }}</p>
            <p class="propuesta-votes">Votos negativos: {{ propuesta.votos_negativos }}</p>
            {% if user.is_authenticated and user.tipo_usuario == 'empresa' %}
    {% if propuesta.creador == user %}
        <p>Esta es tu propuesta.</p>
    {% elif propuesta in user.propuestas_financiadas.all %}
        <p>Ya has financiado esta propuesta.</p>
    {% elif propuesta.creador.tipo_usuario == 'empresa' and propuesta.creador != user %}
        <p>No podes aplicar acá.</p>
    {% else %}
        <form action="{% url 'financiar_propuesta' propuesta.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Financiar</button>
        </form>
    {% endif %}
{% endif %}
        </div>
    {% endfor %}
</div>

{% if messages %}
<div class="alert alert-success">
    <h4 class="alert-heading">Alert:</h4>
    <ul class="message-list">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<script>
document.addEventListener("DOMContentLoaded", function() {
    const urlParams = new URLSearchParams(window.location.search);
    const provincia = urlParams.get('provincia');

    if (provincia) {
        document.getElementById('provincias-btn').click();
        // Fetch and display propuestas by provincia
        fetchPropuestas(`/propuestas_inversiones/?provincia=${encodeURIComponent(provincia)}`);
    } else {
        document.getElementById('todos-btn').click();
        // Show all propuestas
        fetchPropuestas('/propuestas_inversiones/');
    }
});

document.getElementById('todos-btn').addEventListener('click', function() {
    this.classList.add('active');
    document.getElementById('provincias-btn').classList.remove('active');
    document.getElementById('todos-content').style.display = 'block';
    document.getElementById('provincias-content').style.display = 'none';
    document.getElementById('provincias-content').style.opacity = 0;

    // Update URL without reloading
    history.pushState(null, '', '/propuestas_inversiones/');

    // Fetch and display all propuestas
    fetchPropuestas('/propuestas_inversiones/');
});

document.getElementById('provincias-btn').addEventListener('click', function() {
    this.classList.add('active');
    document.getElementById('todos-btn').classList.remove('active');
    document.getElementById('todos-content').style.display = 'none';
    document.getElementById('provincias-content').style.display = 'flex';
    setTimeout(function() {
        document.getElementById('provincias-content').style.opacity = 1;
    }, 10);
});

function fetchPropuestas(url) {
    fetch(url)
        .then(response => response.text())
        .then(html => {
            const parser = new DOMParser();
            const doc = parser.parseFromString(html, 'text/html');
            const newPropuestas = doc.querySelectorAll('.propuesta-item');
            const propuestasContent = document.getElementById('propuestas-content');
            propuestasContent.innerHTML = ''; // Clear existing content
            newPropuestas.forEach(function(item, index) {
                propuestasContent.appendChild(item);
                setTimeout(function() {
                    item.classList.add('visible'); // Apply the visible class
                }, index * 100); // Delay each item slightly for a staggered effect
            });
        });
}
</script>

{% endblock %}